{% extends "base_generic.html" %}
{% block title %}<title>Albums</title>{% endblock %}
{% block content %}
<div class="sidebar-nav">
<body style="background-color: bisque;">
<h1 style="color: brown;">The Song's Album : </h1>
<ul>
{% for album in albums %}
    <li style="color:crimson"><strong>{{ album }}</strong> {
        <a href="{% url 'edit_album' album.id %}">Edit</a> -
        <a href="{% url 'delete_album' album.id %}">Delete</a> }
    </li>
{% endfor %}
</ul>
<p>
    <a href="{% url 'add_album' %}">{ Add Album }</a>
</p>
</body>
</div>
{% endblock %}