{% extends "base_generic.html" %}

{% block title %}
<title>
    Registration
</title>
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="row text-center">
        <div class="col-12 text-center">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 text-right">
                        <label for="username">Username</label>
                    </div>
                    <div class="col-6 text-left">
                        <input type="text" name="username"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">
                        <label for="email">E-Mail</label>
                    </div>
                    <div class="col-6 text-left">
                        <input type="text" name="email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-6 text-left">
                        <input type="password" name="password"/>
                    </div>
                </div>
                <input type="submit" value="Register"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}