{% extends 'base_generic.html' %}

{% block title %}
<title>
    Singers
</title>
{% endblock %}

{% block content %}
<div class="col-12" style="margin-top:2%;">
    <table class="table table-sm table-bordered">
        <thead class="table-primary">
            <tr>
                <td>Singer Name</td>
            </tr>
        </thead>
        <tbody>
            {% for singer in singers %}
            <tr class="table-info">
                <td>{{ singer.first_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" action="">
        {% csrf_token %}
        <input name="name" type="text"/>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}

