{% extends "base_generic.html" %}

{% block content %}
<div class="sidebar-nav">
<body style="background-color: bisque;">
<h1 style="color: brown;">Welcome to our webpage!</h1>
<p style="color:chocolate">In this web, we will give you some recommend song from us.</p>
<strong style="color:rgb(224, 114, 114);">
<p>Group's Member :</p>
<p>1. Anggita Chaerani</p>
<p>2. Nadya Safira</p>
<p>3. Yulli Nisia</p>
</strong>
<h2 style="color: brown;">List of all records :</h2>
<ul>
    <li style="color:crimson"><strong>Songs:</strong> {{ num_songs }}</li>
    <li style="color:crimson"><strong>Singers:</strong> {{ num_singers }}</li>
    <li style="color:crimson"><strong>Albums:</strong> {{ num_albums }}</li>
</ul>
<p>
    Visit Count : {{ total_visit }}
</p>
</body>
</div>
{% endblock %}