.sidebar-nav {
    margin-top: 20px;
    padding: 0 6% 0;
    list-style: none;
}

.navbar-custom {
    background-color:black;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:gray;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.register-page{
    width: 380px;
    height: 200px;
    padding: 3% 0 0;
    margin: auto;
}

.register-header {
  padding-top: 0px;
  color: #2f2f31;
  font-family: "Ubuntu",sans-serif;
  font-weight: bold;
  font-size: 23px;
}

  .login-page {
    width: 350px;
    height: 200px;
    padding: 3% 0 0;
    margin: auto;
  }
  .login-page .form .login{
    margin-top: -31px;
  margin-bottom: 26px;
  }
  .login-header {
    padding-top: 40px;
    color: #2f2f31;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    font-size: 23px;
}
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 400px;
    height: 478px;
    margin: 0 auto 100px;
    padding: 38px;
    text-align: center;
    border-radius: 1.5em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:linear-gradient(to right, #8a9096, #EEF2F3);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;

  }
  
.form .message {
    margin: 15px 0 0;
    color: #8a7e7e;
    font-size: 12px;
  }
.form .message a {
    color: black;
    text-decoration: none;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 3px;
    width: 100%;
    background-color: #9fa3a7;
    color: white;
    text-align: center;
 }