<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>SONG</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }

        h1{
          color:#67506e;
          font-size: 22;
          font-weight: normal;
          font-variant: normal;
          font-family: broadway;
        }
        .btn-dark {
        color: #fff;
        background-color:#D8BFD8;
        border-color: #8B7B8B;
        }
        </style>
</head>

<body style="background-color:#f5ebf7;">
    <nav class="navbar navbar-expand-sm navbar-custom">
        <a class="navbar-brand" href="{% url 'index' %}"><b>ANY</b></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><b><a class="nav-link" href="{% url 'record' %}">Record's</a></b></li>
                <li class="nav-item"><b><a class="nav-link"  href="{% url 'songs' %}">Song's</a></b></li>
                <li class="nav-item"><b><a class="nav-link" href="{% url 'singers' %}">Singer's</a></b></li>
                <li class="nav-item"><b><a class="nav-link" href="{% url 'albums' %}">Album's</a></b></li>
                <li class="nav-item"><b><a class="nav-link" href="{% url 'genres' %}">Genre's</a></b></li>
                <li class="nav-item"><b><a class="nav-link" href="{% url 'producers' %}">Producer's</a></b></li>
            </ul>
        </div>
            <div>
              {% if user.is_authenticated %}
              <b style="color: silver">Hello, {{ user.get_username }} | </b>
              <a type="button" class="btn btn-dark" href="{% url 'logout' %}?next={{ request.path }}">Log Out</a>
              {% else %}
              {% if 'login' in request.path %}
              <a  type="button" class="btn btn-dark" href="{% url 'login' %}?next={{ '/' }}">Log In</a>
              {% else %}
              <a  type="button" class="btn btn-dark" href="{% url 'login' %}?next={{ request.path }}">Log In</a>
              {% endif %}
              {% endif %}
          </div>
        </nav>
        <div class="container-fluid">
            <div class="sidebar-nav">
            <h1>Recommended Song From Our Website :</h1>
            <a type="button" class="btn btn-dark" href="{% url 'add_song' %}">Add Your Favorite Song</a>
            <p><form method="post" action="">
                {% csrf_token %}
                <input name="title" type="text" placeholder="song's title"/>
                <button type="submit">Search</button>
            </form></p>
            <table class="table table-light table-striped table-hover table-bordered ">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Singer</td>
                        <td>Album</td>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}<tr>
                        <td>{{ song.title }}</td>
                        <td>{{ song.singer }}</td>
                        <td>{{ song.album.all|join:', ' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </body>
    </div>
</div>
</html>